<section class="container block about">
    <div class="grid grid--1x2">
      <div class="about__text">
        <h2 class="about__heading">About Our Company</h2>
        <p>
          Sample text. Click to select the text box. Click again or double
          click to start editing the text.
        </p>
        <p class="about__body__text">
          Article evident arrived express highest men did boy. Mistress
          sensible entirely am so. Quick can manor smart money hopes worth
          too. Comfort produce husband boy her had hearing. Law others theirs
          passed but wishes. You day real less till dear read.
        </p>
        <p class="support__features" >Support via E-mail and Phone</p>
        <p class="support__features" >Multi-Language Support</p>
        <p class="link link--primary">+1 (919)1919191991</p>
      </div>
      <img class="about__img" src="assets/girl-image2.png" alt="" />
    </div>
  </section>