<section class="block card-block">
    <div class="container">
      <div class="grid grid--2x3">
        <div class="card">
          <div class="card__content">
              <img class="card__header logo" src="assets/browser.png" alt="">
              <h3 class="card__text">500+ SITES</h3>
          </div>
        </div>
        <div class="card card--secondary">
          <div class="card__content">
              <img class="card__header" src="assets/portfolio.png" alt="">
              <h3 class="card__text">SKILLS</h3>
          </div>
        </div>
        <div class="card">
          <div class="card__content">
              <img class="card__header" src="assets/four-squares-button-of-view-options.png" alt="">
              <h3 class="card__text">DESIGN</h3>
          </div>
        </div>
        <div class="card card--primary">
          <div class="card__content">
              <img class="card__header" src="assets/responsive.png" alt="">
              <h3 class="card__text">RESPONSIVE</h3>
          </div>
        </div>
        <div class="card">
          <div class="card__content">
              <img class="card__header" src="assets/award.png" alt="">
              <h3 class="card__text">AWARDS</h3>
          </div>
        </div>
        <div class="card card--primary">
          <div class="card__content">
              <img class="card__header" src="assets/help.png" alt="">
              <h3 class="card__text">SUPPORT</h3>
          </div>
        </div>
      </div>
    </div>
  </section>