<section class="companies block block--purple">
    <div class="container">
      <h2 class="companies__heading">When working with us, you're in good company:</h2>
      <div class="grid grid--2x4">
        <img class="company__logo" src="assets/logo-amazon.svg" alt="">
        <img class="company__logo" src="assets/binance-logo.svg" alt="">
        <img class="company__logo"src="assets/evga.svg" alt="">
        <img class="company__logo" src="assets/tesla-9.svg" alt="">
        <img class="company__logo"src="assets/sony-logo.svg" alt="">
        <img class="company__logo"src="assets/crocs-wordmark.svg" alt="">
        <img class="company__logo"src="assets/crolla-logo.svg" alt="">
        <img class="company__logo"src="assets/asos-1.svg" alt="">
      </div>
    </div>
  </section>