<section class="courses  block block--purple">
    <div class="container course--grid grid grid--2x3">
      <div class="feature">
        <span class="feature__no">01</span>
        <h3 class="feature__heading">Marketing</h3>
        <p class="feature__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ab
          debitis magnam, illo corporis asperiores accusamus architecto
          blanditiis iusto distinctio?
        </p>
      </div>
      <div class="feature">
        <span class="feature__no">02</span>
        <h3 class="feature__heading">Marketing</h3>
        <p class="feature__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ab
          debitis magnam, illo corporis asperiores accusamus architecto
          blanditiis iusto distinctio?
        </p>
      </div>
      <div class="feature">
        <span class="feature__no">03</span>
        <h3 class="feature__heading">Marketing</h3>
        <p class="feature__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ab
          debitis magnam, illo corporis asperiores accusamus architecto
          blanditiis iusto distinctio?
        </p>
      </div>
      <div class="feature">
        <span class="feature__no">04</span>
        <h3 class="feature__heading">Marketing</h3>
        <p class="feature__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ab
          debitis magnam, illo corporis asperiores accusamus architecto
          blanditiis iusto distinctio?
        </p>
      </div>
      <div class="feature">
        <span class="feature__no">05</span>
        <h3 class="feature__heading">Marketing</h3>
        <p class="feature__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ab
          debitis magnam, illo corporis asperiores accusamus architecto
          blanditiis iusto distinctio?
        </p>
      </div>
      <div class="feature">
        <span class="feature__no">06</span>
        <h3 class="feature__heading">Marketing</h3>
        <p class="feature__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ab
          debitis magnam, illo corporis asperiores accusamus architecto
          blanditiis iusto distinctio?
        </p>
      </div>
    </div>
  </section>