<section class=" block stats"> 
    <div class="container">
      <h2>Complete Building Services</h2>
      <div class="stats__data grid grid--1x4">
        <div class="wrapper-btn">
          <button class="btn  btn--primary btn--circular" >35M+</button>
          <P>SQURE FEET MANAGED</P>
        </div>
        <div class="wrapper-btn">
          <button class="btn  btn--primary btn--circular" >150</button>
          <P>EMPLOYEES ON OUR TEAM</P>
        </div>
        <div class="wrapper-btn">
          <button class="btn  btn--primary btn--circular" >250+</button>
          <P>HAPPY CLIENTS</P>
        </div>
        <div class="wrapper-btn">
          <button class="btn  btn--primary btn--circular" >34</button>
          <P>AWARDS</P>
        </div>
      </div>
    </div>
  </section>